body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Cute Sans";
}

@font-face {
    font-family: "Cute Sans";
    src: url("../fonts/fontleroybrown.regular.ttf");
}

body, html {
    height: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar-luqid {
    background-color: #ff7777;
    border: none;
}

.image-brand {
    width: 15%;
}

.nav-link-white {
    color: white !important;
}

    .nav-link-white :hover {
        color: rgba(255,255,255,0.5) !important;
    }

.div-news {
    height: 50vh;
    background-image: url(../Image/adriana-patino.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center
}

.block-text-news {
    background-color: #F1A79E;
    width: 70%;
    display: flex;
    padding: 2%;
    margin-top: 30%;
    color: #F6DCDA;
}

.text-flex {
    font-style: italic;
}

.black-logo-centered {
    width: 10vh;
}

.sm-intresting {
    margin-top: 6%;
    padding: 1%;
    text-align: center;
}

.active-red, .active-red:hover {
    color: white !important;
    background-color: #ff7777 !important;
}

.Google {
    background-image: url(../Image/btn_google_signin_dark_normal_web.png);
    width: 191px;
    height: 46px;
    background-size: cover;
}

    .Google:hover {
        background-image: url(../Image/btn_google_signin_dark_focus_web.png);
    }

    .Google:active {
        background-image: url(../Image/btn_google_signin_dark_pressed_web.png);
    }

.profile-image {
    width: 15vh;
    height: 15vh;
    object-fit: cover;
    border: 2px solid #ff7777;
    border-radius:5px;
}
.dl-spacing>dd{
    margin-bottom:3%;
}
.user-name {
    padding-top: 15px;
    padding-bottom: 15px;
}
.admin-student-pic {
    width: 10vh;
    height: 10vh;
    object-fit: cover;
    border: 2px solid rgb(0,0,0);
    border-radius: 5px;
}
.small-pic {
    width: 4vh;
    height: 4vh;
    object-fit: cover;
    border: 2px solid #73D4F6;
    border-radius: 5px;
}
.navbar-blue {
    background-color: #73D4F6;
    border: none;
}
.profile-image-student {
    width: 15vh;
    height: 15vh;
    object-fit: cover;
    border: 2px solid #73D4F6;
    border-radius: 5px;
}
.link-student {
    color: #73D4F6 !important;
    text-decoration: none !important;
    padding: 0.5%;
    border-radius: 5px;
    transition: 0.2s;
}
    .link-student:hover {
        box-shadow: 0 0 5px #73D4F6;
        background-color: #73D4F6;
        color: white !important;
    }
.guest-link {
    color: #ff7777 !important;
    text-decoration: none !important;
    padding: 0.5%;
    border-radius: 5px;
    transition: 0.2s;
}

    .guest-link:hover {
        box-shadow: 0 0 5px #ff7777;
        background-color: #ff7777;
        color: white !important;
    }
.guest-button {
    outline: none;
    color: white;
    background-color: #ff7777;
    border:none;
    transition:0.2s;
}
    .guest-button:hover {
        outline: none;
        color: #ff7777;
        background-color: white;
        box-shadow: 0 0 5px #ff7777;
    }
.navbar-violet {
    background-color: #7050FF;
}
.navbar{
    border:none !important;
}
.admin-link {
    color: #7050FF !important;
    text-decoration: none !important;
    padding: 0.5%;
    border-radius: 5px;
    transition: 0.2s;
}

    .admin-link:hover {
        box-shadow: 0 0 5px #7050FF;
        background-color: #7050FF;
        color: white !important;
    }

.admin-button {
    outline: none;
    color: white;
    background-color: #7050FF;
    border: none;
    transition: 0.2s;
}

    .admin-button:hover {
        outline: none;
        color: #7050FF;
        background-color: white;
        box-shadow: 0 0 5px #7050FF;
    }
.example-2 .btn-tertiary {
    color: #555;
    padding: 0 !important;
    line-height: 40px;
    display: block;
    border: 2px solid #555
}

    .example-2 .btn-tertiary:hover, .example-2 .btn-tertiary:focus {
        color: #888;
        border-color: #888
    }

.example-2 .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

    .example-2 .input-file + .js-labelFile {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 10px;
        cursor: pointer
    }

        .example-2 .input-file + .js-labelFile .icon:before {
            content: "\f093"
        }

        .example-2 .input-file + .js-labelFile.has-file .icon:before {
            content: "\f00c";
            color: #5AAC7B
        }
.col-pd-0{
    padding:0 !important;
}
.card-body {
    padding: 1.25rem;
}
.card-header {
    padding: 1.25rem;
}
.image-link-admin {
    width: 15vh;
    height: 15vh !important;
    object-fit: cover;
    border-radius: 5px;
}
.thumb-profiles{
    text-align:center;
    padding:1%;
}
.fullname-profile-min {
    font-size: 15pt;
    margin: 0;
}
.email-profile-min {
    font-size: 8pt;
}